<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Taxi test</title>
        <meta charset="utf8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>

        {% assets "app_css" -%}
            <link rel="stylesheet"href="{{ ASSET_URL }}">
        {%- endassets %}
        {% assets "less_css" -%}
            <link rel="stylesheet/less" type="text/css" href="{{ ASSET_URL }}">
        {%- endassets %}

        {% assets "less_js" -%}
            <script src="{{ ASSET_URL }}"></script>
        {% endassets %}
    </head>
    <body>

        <!-- contents container -->
        <div id="contents">
            asd
        </div>
    </body>
</html>
